.w {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 84px;
    border-bottom: 2px solid #b1191a;
    padding-top: 18px;
}

.registerarea {
    height: 521px;
    border: 1px solid #dfdfdf;
    margin-top: 20px;
}

.reg_header {
    height: 41px;
    line-height: 40px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #ececec;
    padding: 0 10px;
}

.reg_header h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
}

.reg_header p {
    float: right;
    font-size: 14px;
}

.reg_header a {
    color: #c81623;
}

.reg_form {
    margin: 50px auto 0 auto;
    width: 660px;
    height: 375px;
    text-align: center;
}

.reg_form li {
    height: 35px;
    width: 660px;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 90px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #4c4c4c;
    text-align: right;
}

input {
    height: 35px;
    width: 240px;
    border: 1px solid #999999;
    margin: 0 10px;
}

.error {
    display: inline-block;
    height: 35px;
    font-size: 12px;
    color: #df3033;
}

.error_icon {
    display: inline-block;
    vertical-align: middle;
}

.reg_form .safe {
    width: 162px;
    font-size: 12px;
    color: #b2b2b2;
    margin-left: 230px;
    margin-bottom: 0px;
    margin-top: -10px;
}

.reg_form em {
    display: inline-block;
    width: 34px;
    height: 18px;
    color: #fff;
}

.high {
    background-color: #de1111;
}

.middle {
    background-color: #40b83f;
}

.low {
    background-color: #f79100;
}

.agree {
    font-size: 12px;
    color: #4d4d4d;
    text-align: left;
    padding-left: 150px;

}

.agree input {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.agree a {
    color: #1ba1e6;
}

.tijiao {
    text-align: left;
    padding-left: 160px;
}

.tijiao input {
    height: 35px;
    width: 200px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    border: 0;
}

/* footer */


.mod_copyright {
    text-align: center;
}

.mod_copyright .links {
    padding: 20px 0 15px;
    height: 45px;
    font-size: 12px;
    color: #666666;
}

.mod_copyright a {
    padding: 0 15px;
}

.mod_copyright p {
    line-height: 20px;
}